<div class="row">
  <div class="col-md-6">
    <section>
        <ul class="list-group">
          {% for task in tasks %}
            <li class="list-group-item mb-2">{{ task.title }} <button class="btn btn-outline-danger" style="float: right;" u:click="delete_task('{{ task.id }}')">Delete Tasks</button></li> 
          {% empty %}
            <p>All Tasks Completed 🎉</p>
          {% endfor %}
        </ul>
      </section>
  </div>
  <div class="col-md-6">
    <form>
        <br>
      <input type="text" class="form-control" placeholder="Enter task to perform..." u:model.defer="title">
      <br>
      <button class="btn btn-secondary" style="min-width: 100%;" u:click.prevent="add_task">Add Tasks</button>
    </form>
    
  </div>
</div>


